[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #9873f7;
  --md-primary-fg-color--light: #9873f7;
  --md-primary-fg-color--dark:  #8a5cf5;

  --md-primary-bg-color--light: #f6f6f6;
  --md-primary-bg-color--dark:  #1e1e1e;

  --md-accent-fg-color:         #8a5cf5;
  --md-accent-fg-color--light:  #9873f7;

  --md-typeset-color:           #040404;
  --md-default-fg-color:        #000;
  --md-default-bg-color:        #fff;

  --md-typeset-mark-color:      #ffec99;

  .md-typeset blockquote {
    border-left: .2rem solid    #8a5cf5;
  }

  .md-typeset h1 {
    color: #000;
  }

  .md-typeset blockquote {
    color: #1e1e1eaa;
  }

  .typeset a:hover {
    color: var(--md-accent-fg-color);
  }

  .typeset a {
    color: var(--md-accent-fg-color--light);
    display: block; 
    text-decoration: none; 
    padding: 5px;
  }

  /* svg icon for external links */
  article a[href^="http"]::after,
  article a[href^="https://"]::after
  {
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 5px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    display: inline-block;
    background: var(--md-typeset-color);
  }

  /* but not for internal links */
  article a[href^="https://b3-exmo.github.io"]::after {
    display: none !important;
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  .size40 {
    width: 40%;
  }
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #8a5cf5;
  --md-primary-fg-color--light: #c5b6fc;
  --md-primary-fg-color--dark:  #8a5cf5;

  --md-typeset-color:           #dadad4;
  --md-default-fg-color:        #dadad4;
  --md-default-bg-color:        #1e1e1e;

  --md-primary-bg-color--dark:  #1e1e1e;
  --md-primary-bg-color--light: #f6f6f6;
  --md-primary-bg-color:        #f6f6f6;

  --md-accent-fg-color:         #8a5cf5;
  --md-accent-fg-color--light:  #9873f7;

  --md-typeset-a-color:         #a68af9;

  --md-typeset-mark-color:      #786512;

  .md-typeset blockquote {
      border-left: .2rem solid  #8a5cf5;
  }

  .md-typeset h1 {
      color: #dadad4;
  }

  .md-typeset blockquote {
    color: #dadad4;
  }

  .typeset a:hover {
    color: var(--md-accent-fg-color--light);
  }

  .typeset a {
    color: var(--md-a);
  }

  /* svg icon for external links */
  article a[href^="http"]::after,
  article a[href^="https://"]::after
  {
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 5px;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    display: inline-block;
    background: var(--md-typeset-color);
  }

  /* but not for internal links */
  article a[href^="https://b3-exmo.github.io"]::after {
    display: none !important;
  }

  .md-nav__link--passed {
    color: #c0aaf7aa
  }

  .md-nav__item .md-nav__link--active {
    color: var(--md-primary-fg-color--light)
  }

  .md-nav__title {
    color: var(--md-typeset-color);
  }

  .md-header {
    color: var(--md-primary-bg-color);
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  .size40 {
    width: 40%;
  }
}